{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/buyCredit.css' %}">    
    <title>Buy Credits</title>
</head>
<body>
    
    <div class="container">

        <nav class="navbar">

            <div class="topbar">

                <p>Welcome {{ profile.user.first_name }}</p>
  
                <a href="{% url 'home' %}">Back to Homepage</a>
  
                {% include 'dropDiv.html' %}
                  
              </div>
  
              <div class="midbar">
  
                  <img onclick="window.location.href='./'" src="{% static 'img/clong.png' %}" alt="Logo">
                  <h3 style="color: blue;">Total Job Credits: {{ profile.credit }}</h3>
                <div class="butAlign">

                    <button onclick="window.location.href='./buycredit'">Purchase Job Credits</button>

                </div>

            </div>

            <div class="endbar"></div>

        </nav>


        <div class="dashContent">

            <div class="leftContent">
                <br>
                <div class="picDiv">
                    <img src="{% if profile.profile_pic.url %}{{ profile.profile_pic.url }}{% else %}{% static 'img/profile.png' %}{% endif %}" alt="Profile Picture">                    <br>
                    <button style="margin-left: 20%;">Change Profile Picture</button>
                </div>

                <div class="leftOptions">

                    <a href="/dashboard">Dashboard</a>
                    <a href="/paidpost">Paid Job Post</a>
                    <!-- <a href="">Manage Paid Posts</a> -->
                    <a href="/freepost">Free Job Post</a>
                    <!-- <a href="">Manage Free Posts</a> -->
                    <a href="/addCompany">Add Company</a>
                    <a href="/manageCompanies">Manage Companies</a>
                    <a href="/buycredit">Buy Job Credits</a>
                    <a href="/manageInvoice">Manage Invoices</a>
                    <!-- <a href="">Transactions</a> -->

                </div>

                <div class="leftHelp">

                    <div class="topHelp">
                        Need Some Help?
                    </div>

                    {% include 'bottomHelp.html' %}
                </div>

            </div>

            <div class="rightContent">

                <div class="rightOptions">

                    <a href="/paidpost">Paid Job Post</a>
                    <a href="/manageCompanies">Manage Companies</a>
                    <a href="/freepost">Free Job Post</a>
                    <a href="/manageInvoice">Manage Invoices</a>
                    
                </div>
                
                <div class="rightDiv">

                    <table>

                        <tr>
                            <th colspan="3"><span>Paid Job Listing Plans</span></th>
                        </tr>

                        <tr>
                            <td colspan="3" class="tableSub"> <b>Note:</b><br>
                                >> 1 Job Credit = 1 Job Listing i.e one Job Credit will enable you to list/publish only one job, if you want to list/publish more jobs, you need to buy the number of Job Credits that cover the number of jobs you want to list/publish. Secondly, you can buy Job Credits in bulk and it will be stored in your Recruiter account and deducted as you list/publish jobs. <br>
                                >> Every job published has maximun duration / expiration of 60 days.
                            </td>
                        </tr>

                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for credit in credits %}
                                
                                <tr class="tablePrice"> 
                                    <td><input type="radio" name="credPrice" value="{{ credit.price }}"></td>
                                    <td>{{ credit.value }} Job Credit</td>
                                    <td>&#8358;{{ credit.price }}</td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td colspan="3" style="text-align: center;">
                                    <a href="">Pay with Bank Transfer?</a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3" class="tableButDiv">
                                    <input type="submit" value="Purchase Job Credits">
                                </td>
                            </tr>

                        </form>

                    </table>

                </div>

            </div>

        </div>

    </div>

</body>
</html>