{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Change Password</title>
</head>
<body>
    
    <div class="container">

        <nav class="navbar">

            <div class="topbar">

            </div>

            <div class="midbar">

                <a href="{% url 'home' %}"><img src="{% static 'img/clong.png' %}" alt="Logo"></a>
                <div class="butAlign">


                </div>

            </div>

            <div class="endbar"></div>

        </nav>


        <div class="dashContent">

            <form method="POST">
                {% csrf_token %}
                <h1 style="text-align: center;">Change Password</h1>

                <div class="formControl">

                    <label for="email">Email address:</label>
                    <input type="email" name="email">

                </div>

                <div class="formControl">

                    <label for="old_pass">Old Password:</label>
                    <input type="old_pass" name="old_pass">

                </div>

                <div class="formControl">

                    <label for="new_pass">New Password:</label>
                    <input type="new_pass" name="new_pass">

                </div>

                <div class="formControl">

                    <label for="confirm_pass">Confirm Password:</label>
                    <input type="confirm_pass" name="confirm_pass">

                </div>


                <input class="subBut" type="submit" value="Submit">

            </form>

        </div>

    </div>
</body>
</html>