{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/managepaid.css' %}">
    <title>Dashboard</title>
</head>
<body>
    
    <div class="container">

        <nav class="navbar">

            <div class="topbar">

                <p>Welcome username</p>

                <a href="">Back to Homepage</a>

                {% include 'dropDiv.html' %}

            </div>

            <div class="midbar">

                <img src="{% static 'img/clong.png' %}" alt="Logo">
                <h3 style="color: blue;">Total Job Credits: 0</h3>
                <div class="butAlign">

                    <button>Purchase Job Credits</button>

                </div>

            </div>

            <div class="endbar"></div>

        </nav>


        <div class="dashContent">

            <div class="leftContent">
                <br>
                <div class="picDiv">
                    <img src="{% static 'img/profile.png' %}" alt="Profile Picture">
                    <br>
                    <button style="margin-left: 20%;">Change Profile Picture</button>
                </div>

                <div class="leftOptions">

                    <a href="">Dashboard</a>
                    <a href="">Paid Job Post</a>
                    <a href="">Manage Paid Posts</a>
                    <a href="">Free Job Post</a>
                    <a href="">Manage Free Posts</a>
                    <a href="">Add Company</a>
                    <a href="">Manage Companies</a>
                    <a href="">Buy Job Credits</a>
                    <a href="">Manage Invoices</a>
                    <a href="">Transactions</a>

                </div>

                <div class="leftHelp">

                    <div class="topHelp">
                        Need Some Help?
                    </div>

                    {% include 'bottomHelp.html' %}
                </div>

            </div>

            <div class="rightContent">

                <div class="rightOptions">

                    <a href="">Paid Job Post</a>
                    <a href="">Manage Paid Posts</a>
                    <a href="">Free Job Post</a>
                    <a href="">Manage Free Posts</a>
                    
                </div>
                
                <table>

                    <tr class="tableHead">
                        <th>No</th>
                        <th>Job</th>
                        <th>Company Name</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Update</th>
                    </tr>
    
                    <tr class="tableHead">
                        <th colspan="7">Total Number of Jobs: 5</th>
                    </tr>
    
                    <!-- <tr>
                        <th class="tableNum">1</th>
                    </tr> -->
                    
                    <tr>
                        <td style="border-left: 1px solid grey;">1</td>
                        <td>Marketing Officer</td>
                        <td>C Recruite</td>
                        <td>Lagos</td>
                        <td>24 Feb 2022</td>
                        <td>
                            <div class="statDiv">
                                <div class="buyCredit">Buy Credit</div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="upDiv">

                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: 1px solid grey;">1</td>
                        <td>Web Developer</td>
                        <td>C Recruite</td>
                        <td>Lagos</td>
                        <td>10 Mar 2022</td>
                        <td>
                            <div class="statDiv">
                                <div class="published">Published</div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="upDiv">

                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>

                            </div>
                        </td>
                    </tr>



                </table>

            </div>

            

        </div>

    </div>

</body>
</html>