{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/managecompany.css' %}">
    <title>Manage Companies</title>
</head>
<body>
    
    <div class="container">

        <nav class="navbar">

            <div class="topbar">

                <p>Welcome {{ profile.user.first_name }}</p>

                <a href="{% url 'home' %}">Back to Homepage</a>

                {% include 'dropDiv.html' %}

            </div>

            <div class="midbar">

                <img onclick="window.location.href='./'" src="{% static 'img/clong.png' %}" alt="Logo">
                <h3 style="color: blue;">Total Job Credits: {{ profile.credit }}</h3>
                <div class="butAlign">

                    <button onclick="window.location.href='./buycredit'">Purchase Job Credits</button>

                </div>

            </div>

            <div class="endbar"></div>

        </nav>


        <div class="dashContent">

            <div class="leftContent">
                <br>
                <div class="picDiv">
                    <img src="{% if profile.profile_pic.url %}{{ profile.profile_pic.url }}{% else %}{% static 'img/profile.png' %}{% endif %}" alt="Profile Picture">
                    <br>
                    <form style="margin-left: 20%;" method="POST" class="picForm" enctype="multipart/form-data" action="{% url 'dashboard' %}"><input type="file" id="picup" name="img" accept="image/*"></form>
                </div>

                <div class="leftOptions">

                    <a href="/dashboard">Dashboard</a>
                    <a href="/paidpost">Paid Job Post</a>
                    <!-- <a href="">Manage Paid Posts</a> -->
                    <a href="/freepost">Free Job Post</a>
                    <!-- <a href="">Manage Free Posts</a> -->
                    <a href="/addCompany">Add Company</a>
                    <a href="/manageCompanies">Manage Companies</a>
                    <a href="/buycredit">Buy Job Credits</a>
                    <a href="/manageInvoice">Manage Invoices</a>
                    <!-- <a href="">Transactions</a> -->

                </div>

                <div class="leftHelp">

                    <div class="topHelp">
                        Need Some Help?
                    </div>

                    {% include 'bottomHelp.html' %}
                </div>

            </div>

            <div class="rightContent">

                <div class="rightOptions">

                    <a href="/paidpost">Paid Job Post</a>
                    <a href="/manageCompanies">Manage Companies</a>
                    <a href="/freepost">Free Job Post</a>
                    <a href="/manageInvoice">Manage Invoices</a>
                    
                </div>
                
                <table>

                    <tr class="tableHead">
                        <th>No</th>
                        <th>Date</th>
                        <th>Company Name</th>
                        <th>Status</th>
                        <th>Update</th>
                    </tr>
    
                    <tr class="tableHead">
                        <th colspan="7">Total Number of Jobs Posted: {{ posts.count }}</th>
                    </tr>
    

                    {% for company in companies %}
                    <tr>
                        <td style="border-left: 1px solid grey;">1</td>
                        <td>{{ company.date_created }}</td>
                        <td>{{ company.name }}</td>
                        <td>
                            <div class="statDiv">
                                <div class="{% if company.status %}verified{% else %}pending{% endif %}">{% if company.status %}Verified{% else %}Pending{% endif %}</div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="upDiv">

                                <a href="">View</a>
                                <a onclick="deleteCompany('{{company.id}}')" href="">Delete</a>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}



                </table>

            </div>

            

        </div>

    </div>


    <script>
        let picup = document.getElementById('picup')


        picup.addEventListener('change', () => {
            let form = document.getElementsByClassName('picForm')[0]
            form.submit()
        })

        const deleteCompany = (id) => {
            let answer = window.confirm("Are you sure you want to delete this company?")
            if(answer){
                fetch('http://localhost:8000/manageCompanies', {
                method: 'DELETE',
                body: JSON.stringify({'id': id}),
                })
                .catch(e=>console.log(e))
                location.reload()
            }
            else{
                ''
            }

        }
    </script>
</body>
</html>